<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crédits</title>
  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="styles/credits.css">
  <link rel="stylesheet" href="styles/font-awesome/css/font-awesome.min.css">
</head>

<body>

  <h1> <i class="fa fa-file-text"></i> Crédits</h1>


  <h2>Carte <i class="fa fa-map"></i></h2>

  <p>
    Carte fournie par la libraire <a href="https://leafletjs.com/">Leaflet</a>,
    fond de carte par <a href="https://www.openstreetmap.org/">Open Street Map</a>.
  </p>
  <p>
    Les marqueurs présents sur la carte nous ont été fournis par le
    <a href="fil.univ-lille.fr">FIL</a></div>
  </p>


  <h2>Données <i class="fa fa-database"></i></h2>

  <p>
    Les données des stations viennent de la
    <a href="https://www.lillemetropole.fr/">MEL</a> et sont sous licence
    <a href="https://en.wikipedia.org/wiki/Open_licence_(French)">ETALAB</a>
  </p>


  <h2>Icônes <i class="fa fa-pencil"></i></h2>

  <p>
    Les différentes icônes présentes sur le site viennent de
    <a href="https://fontawesome.com/">Font awesome</a>
  </p>


  <a class="home" href="/"><i class="fa fa-arrow-left"></i> Retour à la page d'accueil</a>

</body>

</html>