div.infos-main-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  padding: 1em 2em;
  align-self: center;
  margin-bottom: 1em;

  .name {
    font-weight: bold;
    font-size: 1.5em;
  }
}

.info-title {
  font-weight: bold;
}

.info-value {
  text-align: right;
}

.info {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  align-items: center;
  width: 15em;

  &:not(:last-child) {
    margin-bottom: 1em;
  }
}