.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(black, .5);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  opacity: 0;
  transition: .2s;
}

.modal-content {
  padding: 1.5em;
  background: #06BEB6;
  border-radius: 1em;
  width: 30em;
  box-shadow: 2px 2px 10px rgba(black, .2);
  position: relative;

  h2 {
    text-align: center;
    margin-top: .5em;
  }

  .numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;

    .col {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      text-align: center;
    }
  }

  input, select {
    margin-bottom: 1.5em;
  }

  label {
    margin-bottom: .5em;
  }

  form {
    display: flex;
    flex-direction: column;
  }

}

.btn-submit {
  align-self: center;
  font-size: 1.1em;
}

option {
  color: #06BEB6;
  background: white;
}

input[type="number"] {
  width: 5em;
}

small {
  color: rgba(white, .8);
}