.station {
  cursor: pointer;
  transition: .2s;

  i {
    transition: 0s;
  }

  .station-title {
    display: block;
    max-width: 20em;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.stations-container {
  overflow: auto;
  max-height: 0;
  padding-right: .5em;
  display: grid;
  grid-auto-flow: row;
  gap: .4em;
  margin-top: 1em;
}

.sort-form {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin-top: 1em;

  label {
    margin-left: .5em;
  }
}