.station {
  display: flex;
  flex-direction: column;
  max-width: 20em;
  white-space: nowrap;
  
  &:not(:last-child) {
    margin-bottom: 1em;
  }
}

.stations-container {
  overflow: auto;
  max-height: 500px;
  padding-right: .5em;
}

.station-title {
  margin-bottom: .5em;
  text-overflow: ellipsis;
  overflow: hidden;
}

.station-bikes, .station-slots {
  font-weight: bold;
}