.station {
  display: flex;
  flex-direction: column;
  max-width: 20em;
  white-space: nowrap;
  cursor: pointer;
  transition: .2s;

  i {
    transition: 0s;
  }
  
  &:not(:last-child) {
    margin-bottom: .4em;
  }
}

.stations-container {
  overflow: auto;
  max-height: 0;
  padding-right: .5em;
}

.station-title {
  text-overflow: ellipsis;
  overflow: hidden;
}