@import 'header';
@import 'stations';
@import 'infos';
@import 'footer';
@import 'modal';

body {
  background: linear-gradient(to right, #48B1BF, #06BEB6);
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;

  &, input, select {
    font-family: 'Montserrat', sans-serif;
  }
}

body,
button,
input,
input::placeholder,
select {
  color: white;
}

input, select {
  padding: .6em .8em;
  border-radius: .5em;
  outline: none;
  border: none;
  background: rgba(white, .2);
  border: .2em solid transparent;

  &:active, &:focus {
    background: rgba(white, .4);
  }
}

ul {
  padding: 0;
  margin: 0;
}

button {
  outline: none;
  cursor: pointer;
}

a, button, i, input {
  color: inherit;
  transition: .2s;
} 

.link {
  text-decoration: none;
  position: relative;
  font-weight: bold;

  &::after {
    content: "";
    position: absolute;
    top: 105%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transform-origin: left center;
    transition: .3s;
  }

  &:hover::after {
    width: 100%;
  }
}

.subtitle {
  font-size: 2em;
  font-weight: 400;
}

main {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  position: relative;
  grid-template-columns: auto 1fr auto;
  flex: 1;

  .subtitle {
    margin: 0;
    text-align: center;
  }
}

.card {
  padding: .8em;
  border-radius: .5em;
  background: rgba(white, .5);
}

.highlight {
  background: white;
  color: #06BEB6;
}

.infos, .stations {
  padding: 0 1em;
}

.infos-container, .stations-container {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

::-webkit-scrollbar {
  width: 10px;
  background: rgba(white, .2);
  border-radius: 10em;
}

::-webkit-scrollbar-thumb {
  background: rgba(white, .5);
  border-radius: 10em;
  transition: 1s;

  &:hover {
    background: rgba(white, .8);
  }
}

#leaflet-map {
  position: relative;
  height: 100%;
}