header {
  width: 100%;
  position: relative;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-title {
  font-size: 3em;
  margin: 0;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10em;
  border-radius: 1000em;
  padding: .3em .6em;
  border: none;
  background: rgba(255, 255, 255, 0.5);
}

.search:hover {
  background: rgba(255, 255, 255, 0.3);
}

.search:hover i {
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.station {
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.station i {
  -webkit-transition: 0s;
  transition: 0s;
}

.station .station-title {
  display: block;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.stations {
  position: relative;
  width: 20em;
}

.stations-container {
  overflow: auto;
  max-height: 0;
  padding-right: .5em;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  gap: .4em;
  margin-top: 1em;
  width: 100%;
}

.sort-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1em;
}

.sort-form label {
  margin-left: .5em;
}

.infos-main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 1em 2em;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 1em;
}

.infos-main-title .name {
  font-weight: bold;
  font-size: 1.5em;
}

.infos-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-top: 1em;
  width: 18em;
}

.info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  gap: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info:not(:last-child) {
  margin-bottom: 1em;
}

.info .info-title {
  font-weight: bold;
}

.info .info-value {
  text-align: right;
}

footer {
  padding: 1em;
  font-size: .8em;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer span:not(:last-child) {
  margin-right: 1em;
  position: relative;
}

footer span:not(:last-child)::after {
  content: "|";
  position: absolute;
  right: -.5em;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  opacity: 0;
  -webkit-transition: .2s;
  transition: .2s;
}

.modal-content {
  padding: 1.5em;
  background: #06BEB6;
  border-radius: 1em;
  width: 30em;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal-content h2 {
  text-align: center;
  margin-top: .5em;
}

.modal-content .numbers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.modal-content .numbers .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
}

.modal-content input, .modal-content select {
  margin-bottom: 1.5em;
}

.modal-content label {
  margin-bottom: .5em;
}

.modal-content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn-submit {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.1em;
}

option {
  color: #06BEB6;
  background: white;
}

input[type="number"] {
  width: 5em;
}

input, select {
  padding: .8em 1em;
  border-radius: .5em;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  border: none;
}

input:active, input:focus, select:active, select:focus {
  background: rgba(255, 255, 255, 0.4);
}

button {
  outline: none;
  cursor: pointer;
}

input[type="radio"] {
  position: relative;
  height: 1.1em;
}

input[type="radio"]::after {
  content: "";
  z-index: 10;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  border: .3em solid white;
  border-radius: 10em;
  -webkit-transition: .1s;
  transition: .1s;
  height: 1.2em;
  width: 1.2em;
}

input[type="radio"]:checked::after {
  background: #06BEB6;
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#48B1BF), to(#06BEB6));
  background: linear-gradient(to right, #48B1BF, #06BEB6);
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  scroll-behavior: smooth;
}

body, body input, body select {
  font-family: 'Montserrat', sans-serif;
}

body,
button,
input,
input::-webkit-input-placeholder,
select {
  color: white;
}

body,
button,
input,
input:-ms-input-placeholder,
select {
  color: white;
}

body,
button,
input,
input::-ms-input-placeholder,
select {
  color: white;
}

body,
button,
input,
input::placeholder,
select {
  color: white;
}

ul {
  padding: 0;
  margin: 0;
}

a, button, i, input {
  color: inherit;
  -webkit-transition: .2s;
  transition: .2s;
}

.link {
  text-decoration: none;
  position: relative;
  font-weight: bold;
}

.link::after {
  content: "";
  position: absolute;
  top: 105%;
  left: 0;
  width: 0;
  height: 2px;
  background: white;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: .3s;
  transition: .3s;
}

.link:hover::after {
  width: 100%;
}

.btn {
  padding: .5em 1em;
  border-radius: .5em;
  background: white;
  border: none;
  font-weight: bold;
  color: #06BEB6;
}

.btn:focus, .btn:active {
  -webkit-box-shadow: 0 0 0 0.2em rgba(255, 255, 255, 0.4);
          box-shadow: 0 0 0 0.2em rgba(255, 255, 255, 0.4);
}

.subtitle {
  font-size: 2em;
  font-weight: normal;
}

.card {
  padding: .8em;
  border-radius: .5em;
  background: rgba(255, 255, 255, 0.5);
}

.highlight {
  background: white;
  color: #06BEB6;
}

main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main .subtitle {
  margin: 0;
  text-align: center;
}

.infos, .stations {
  padding: 0 1em;
}

::-webkit-scrollbar {
  width: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10em;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10em;
  -webkit-transition: 1s;
  transition: 1s;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.8);
}

#leaflet-map {
  position: relative;
  height: 100%;
}
